# remove cache
**/.ipynb_checkpoints
**/__pycache__
.pytorch/

# remove tmp
**/tmp/

# remove datasets
**/dataset/
image/artbench-10/*
image/content_dataset/*
image/*.tar
image/huang/*
image/hidden/*

# remove private dev folder
dev/*
dev_daniele/*

# remove local backup
bak/*

# remove report & image scripting
tex/*
make/*

# delivery zip
.ignore