# remove cache
**/.ipynb_checkpoints
**/__pycache__

# remove datasets
**/dataset/
image/artbench-10/*
image/content_dataset/*
image/*.tar


# remove tmp
**/tmp/

# remove private dev folder
dev/*

# remove local backup
bak/*

# pytorch cache
.pytorch/
